.detalles-entrevista {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
  }
  
  .contenedor-video {
    background-color: yellow; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px; 
    height: auto;
    padding: 20px;
    border-radius: 20px;
  }
  
  .entrevista-preview {
    max-width: 100%;
    height: auto;
  }
  