.lista-entrevistas {
  text-align: center;
  padding: 20px;
}

.lista-entrevistas ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.lista-entrevistas h1 {
  color: white;
  font-size: 40px;
}

.lista-entrevistas .entrevista-item {
  width: 300px;
  height: 350px;
  margin: 10px;
  padding: 0; 
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.863);
  border-radius: 0.8rem;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.lista-entrevistas .entrevista-item:hover {
  animation: zoomIn 0.3s forwards;
  box-shadow: 3px 3px 4px rgb(255, 255, 255);
}

.lista-entrevistas .entrevista-item:not(:hover) {
  animation: zoomOut 0.3s forwards;
}

.lista-entrevistas .entrevista-item p {
  color: var(--Azul);
  padding: 5px;
  margin: 0;
  font-weight: 1000;
}

.lista-entrevistas .entrevista-preview {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 0.8rem 0.8rem 0 0; 
  margin: 0; 
}

.lista-entrevistas .titulo-entrevista {
  flex-grow: 1; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 0 0 10px 10px;
}

body {
  background-color: var(--Azul);
}

.lista-entrevistas .titulo-entrevista p {
  color: var(--Azul);
  padding: 5px;
  margin: 0;
  font-weight: 1000;
}

@keyframes zoomIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.03);
  }
}

@keyframes zoomOut {
  from {
    transform: scale(1.03);
  }
  to {
    transform: scale(1);
  }
}
