footer {
    background-color: rgb(0, 27, 76 );
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    bottom: 0;
    width: 100vw;
    font-size: 10px;
}
li
{
    display: inline;
    padding: 5px;
}
ul
{
    padding: 0px;
}
hr
{
    width: 70%;
    height: 1px;
    border: 0;
    background: var(--Azul);
}
a
{
    text-decoration: none;
    color: #fff;
}
a :hover
{
    color: var(--Amarillo)
}
@media screen and (min-width: 1024px)
{
  footer li
  {
    font-size: 16px;
  }
  footer p 
  {
    font-size: 16px;
  }
}